.menu {
  padding: 20px 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-case-ali {
  border: 2px solid red;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 10px;
  align-items: center;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.price-plus {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.menu-case-ali p {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
