@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");

.menu {
  padding: 20px 30px;
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.alim {
  padding: 20px 30px;
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu-case {
  border-color: rgb(115, 115, 115);
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-bottom: 0;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.menu-case-ali {
  border-color: rgb(115, 115, 115);
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-bottom: 0;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.menu-case-ali img {
  width: 13em;
}

.price-plus {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.renderall {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-container {
  width: 80%;
}

.asideRecap {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(208, 208, 208);
  border: 2px solid black;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 150px;
  font-family: "PT Sans Narrow", sans-serif;
}

.menu-case p {
  padding: 0;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 20px;
}

.renderall button {
  color: white;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  border-radius: 5px;
  border: none;
  text-shadow: grey 2px 2px;
  background-color: rgb(241, 181, 0);
}

.renderall button:hover {
  background-color: rgb(132, 164, 66);
}

.renderall h1 {
  text-align: center;
  font-size: 50px;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(176, 5, 0);
  font-weight: bold;
  text-shadow: grey 2px 2px;
}

.description {
  width: 300px;
}

.display-price {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}
.home {
  display: flex;
  width: 100%;
}

.sub-home {
  background-color: rgb(176, 5, 0);
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  border-radius: 5px;
  width: 50%;
  height: 19.2em;
  font-size: 50px;
}

.sub-home h2 {
  margin: auto;

  text-align: center;
}

.sub-sub-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6vh;
  padding: 4px;
  margin: auto;
  width: 50vh;
}

.minirecap {
  color: black;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  border-radius: 30px;
  border: 2px solid black;
  text-shadow: grey 2px 2px;
  background-color: rgb(208, 208, 208);
  margin: 30px;
  height: 10%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  overflow-x: hidden;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

@media screen and (max-width: 1100px) {
  .menu {
    grid-template-columns: 1fr 1fr;
    /* background-color: blueviolet; */
    margin: auto;
  }
  .alim {
    grid-template-columns: 1fr 1fr;
  }
  .bigrecap {
    display: none;
  }
  .asideRecap {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    grid-template-columns: 1fr;
    /* background-color: pink; */
    margin: auto;
  }
  .alim {
    grid-template-columns: 1fr 1fr;
  }
  .bigrecap {
    display: none;
  }
  .asideRecap {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .menu {
    /* background-color: blue; */
    margin: auto;
  }
  .minirecap {
    display: none;
  }
}
