.logo {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: rgba(211, 211, 211, 0.22);
}

.logo-burger {
  width: 10%;
  height: 10%;
}

.left-logo {
  text-align: center;
}

.right-logo {
}
